@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap');

.truncate-title {
    position: relative;
    cursor: pointer;
}

.truncate-title::before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: -100%; /* Adjust as needed */
    white-space: nowrap;
    background-color: white; /* Or any other color */
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    display: none;
    z-index: 10;
}

.truncate-title:hover::before {
    display: block;
}